<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
    <title>Alexis SERRES</title>
    
  </head>
 
  <body ng-controller="MainCtrl">
    <div id="content" class="span9">
      {% block body %}
      {% endblock %}

      <script src="{{ asset('js/app/libs/angular/angular.min.js') }}"></script>
      <script src="{{ asset('js/app/app.js') }}"></script>
      <script src="{{ asset('js/app/controllers/main.js') }}"></script>
      <script src="{{ asset('js/app/services/storage.js') }}"></script>
    </div>
  </body>
</html>
